#logout {
    float: right;
    border: 1px solid purple;
    padding: 10px;
    background-color: thistle;
}

#add-photo {
    text-align: left;
    border: 1px solid green;
    padding: 10px;
    background-color: aquamarine;
}

.profile-key {
    color: maroon;
    font-weight: bold;
}
